catboost==1.2.8
joblib==1.5.0
lightgbm==4.6.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==2.2.5
optuna==4.3.0
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
statsmodels==0.14.4
xgboost==3.0.2